nav {
                               
          font-family: 'Bebas Neue', cursive;
          font-family: 'Oswald', sans-serif;
           font-family: 'Roboto', sans-serif;
          
 }
 .nav-color{
           background-color: wheat;
 }
.photo{
          width: 220px;
          height: 43px;
        
}
#PENGUINS{
          color:orange;
}
.button{
          
          
          background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
           border-radius: 15px;
           color: white;
           font-family: Roboto;
            font-size:medium;
          



}        

.size{
          
          width: 25%;
          height: 45%
          
}
.women-jacket{
         width: 400px;
         height: 450px;
          background: #F1F1F1;
          border-radius: 20px;

          
}
.rect-1{
          
          
          width: 489px;
height: 135px;
left: 135px;
top: 2269px;

background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
border-radius: 20px;
background: url(logo/image\ 12.png);


}
.rect-2{
          
}