nav {
                               
          font-family: 'Bebas Neue', cursive;
          font-family: 'Oswald', sans-serif;
           font-family: 'Roboto', sans-serif;
          
 }
 .nav-color{
           background-color: wheat;
 }
.photo{
          width: 220px;
          height: 43px;
        
}
#PENGUINS{
          color:orange;
}
.button{
          
          
          background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
           border-radius: 15px;
           color: white;
           font-family: Roboto;
            font-size:medium;
          



}        

.size{
          
          width: 30%;
          height: 50%
          
}